@import url("https://coolors.co/0c0a3e-7b1e7a-b33f62-f9564f-f3c677");

#title {
  color: black;
  border-radius: 45px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 50px;
}
#subtitle {
  color: black;
  font-family: "Courier New", Courier, monospace;
  margin-left: 50px;
}
.nav {
  text-align: center;
  text-decoration: black;
  text-size-adjust: 200px;
}

main {
  background-color: #FB8D89;


header {
  background-color: #b9b9b9
}

footer {
  background-color: #f1cbcb;
}
.box {
  background-color: #b9b9b9;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  display: flex;
  justify-content: flex-start;
}

@keyframes pulse {
  0% {
    background-color: #e64b2c;
  }
  20% {
    background-color: #e86823;
  }
  40% {
    background-color: #e8d423;
  }
  60% {
    background-color: #3de823;
  }
  80% {
    background-color: #2378e8;
  }
  100% {
    background-color: #ce23e8;
  }
}

.box {
  width: 1333px;
  height: 80px;
  background-color: #cc0000;
  animation-name: pulse;
  animation-duration: 4s;
}

.language {
  text-align: right;
  margin-left: 500px;
  box-sizing: border-box;
}

li :nth-of-type(2n) {
  color: blue;
}

li :nth-of-type(2n + 1) {
  text-decoration: blanchedalmond;
}

li :nth-of-type(4n) {
  color: lime;
}

li :nth-of-type(4n + 1) {
  text-decoration: underline;
  color: red;
}
